body{
    margin: 0;
}
header {
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    display: flex;
}
header h1 {
    font-size: 17px;
    padding-left: 25px;
    margin-top: 20px;
}
header h1:nth-child(5) {
    margin-right: 150px; /* Ajuste o valor para o espaço desejado */
}
header h1:nth-child(6) {
    margin-right: 80px;
}
.logo {
    width: 50px;
    height: 50px;
    margin-top: 9px;
    margin-left: 20px;
}
.rede {
    width: 21px;
    height: 19px;
    margin-left: 11px;
    margin-top: 20px;
}
.noticias-btn {
    margin-left: 100px;
    background-color: #cb0017;
    color: white;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #4e4e4e;
    width: 50px;
    height: 100%;
    position: fixed;
}
.extra {
    margin-top:30px ;
    width: 26px;
    height: 28px;
}
.extra:nth-child(1) {
    margin-top: 125px;
}
