body {
    margin: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    display: flex;
}

header h1 {
    font-size: 17px;
    padding-left: 25px;
    margin-top: 20px;
}

header h1:nth-child(5) {
    margin-right: 150px;
}

header h1:nth-child(6) {
    margin-right: 80px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 9px;
    margin-left: 20px;
}

.rede {
    width: 21px;
    height: 19px;
    margin-left: 11px;
    margin-top: 20px;
}

.noticias-btn {
    margin-left: 100px;
    background-color: #cb0017;
    color: white;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #4e4e4e;
    width: 50px;
    height: 100%;
    position: fixed;
}

.extra {
    margin-top: 30px;
    width: 26px;
    height: 28px;
}

.extra:nth-child(1) {
    margin-top: 125px;
}

.horizontal {
    margin-left: 90px;
    background: url(https://cdn.saopaulofc.net/2024/07/240923_torcida_021-scaled.jpg);   
    color: white;
    height: 200px;
    align-items: center;
    display: flex;  
}

.horizontal h1 {
    margin-top: 0;
    text-align: center;
    margin-left: 375px;
    font-size: 50px;
}

.content-container {
    display: flex;
    justify-content: space-between; /* Para separar os conteúdos */
    margin-left: 70px;
    margin-top: 55px;
}

.search-container {
    display: flex;
    flex-direction: column; /* Para empilhar busca e categorias */
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-right: 100px; 
    margin-top: 50px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    background-color: white; /* Fundo branco para a barra de busca */
    padding: 5px; /* Espaço interno */
    border-radius: 5px; /* Cantos arredondados */
    margin-top: -10px; /* Diminui o espaço entre a imagem e a barra de busca */
}

.search-input {
    padding: 10px;
    border: none; /* Remove a borda padrão */
    color: #cb0017; /* Cor do texto "Busca" */
    outline: none; /* Remove o contorno ao focar */
    width: 250px;
    
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #4e4e4e;
}

.categorias {
    margin-top: 10px; /* Espaço acima das categorias */
    font-size: 20px;
}

.categoria {
    color: #cb0017;
    margin: 0;
}
.categoria:nth-child(1) {
    color: #cb0017;
}

.blog-container {
    display: flex;
    margin-top: 0; /* Remova o espaço acima das imagens */
}

.blog-img {
    margin-right: 100px; 
    width: 362px;
    height: 210px;
}
.blog-img :nth-child(2) {
    margin-right: 3px;
}

.blog-texto {
    margin-top: 10px; 
    margin-left: 40px;
}

.blog-texto h1 {
    color: red;
    font-size: 20px;
    width: 350px;
}

.blog-texto p {
    width: 360px;
}

.botao {
    background-color: #cb0017;
    color: white;
    width: 125px;
    height: 39px;
}
.content-container2 {
    display: flex;
    justify-content: space-between; /* Para separar os conteúdos */
    margin-left: 70px;
    margin-top: -450px;
}
.texto-lado {
    margin-right: 10px;
    margin-top: 290px;
    font-size: 12px;
}
.texto-lado p {
    font-size: 15px;
}
.texto-lado h2 {
    color: #cb0017;
}
.content-container3 {
    display: flex;
    justify-content: space-between; /* Para separar os conteúdos */
    margin-left: 70px;
    margin-top: 225px;
}
.container {
    display: flex;
    gap: 10px;
}
.square {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-top: 300px;
    background-color: #cb0017;
    color: white;
}
.square:nth-child(1) {
    margin-left: 300px;
}
.ultimo {
    background-color: black;
    margin-left: 90px;
    display: flex;
    margin-top: 200px;
    align-items: center;
}
.logo-fn {
    margin-left: 150px;
    display: flex;
}
.logo-ft {
    background-color: #cb0017;
    width: 30px;
    height: 30px;
    margin-left: 50px;
}
.logo-texto {
    color: white;
    margin-left: 35px;
}
.patrocinios {
    margin-left: 90px;
    background-color: #f8f8f8;
    height: 578px;
}
.patrocinador {
    margin-left: 40px;
    display: flex;
}
.patro-texto {
    margin-top: 50px;
    font-size: 12px;
}
.patro-texto:nth-child(1) {
    margin-right: 250px;
}
.patro-texto:nth-child(2) {
    margin-right: 300px;
}
.patro-img {
    display: flex;
}
.amigos {
    text-align: center;
}
.amigos-img {
    display: flex;
    margin-left: 10px;
}
.amigos-ft {
    margin-left: 40px;
}
.amigos-ft2 {
    margin-left: 550px;
    margin-top: 10px;
}
.final {
    margin-left: 90px;
    background-color: #f0f0f0;
}
.final2 {
    display: flex;
}
.final-texto {
    margin-left: 50px;
}
footer {
    text-align: center;
}
